:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --button-sm-size: 24px;
  --button-md-size: 32px;
  --button-lg-size: 40px;
  --icon-xs-size: 16px;
  --icon-sm-size: 20px;
  --icon-md-size: 24px;
  --icon-lg-size: 28px;
  --icon-xl-size: 32px;

  --primary-300: #67b4f3;
  --primary-400: #3a98e3;
  --primary-500: #1984da;

  --regular-300: #b9b1b1;
  --regular-400: #a49b9b;
  --regular-500: #8d8383;
}

html {
  height: 100%;
  user-select: none;
}

body, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border: 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 4px 8px;
  height: var(--button-md-size);
}

button:disabled {
  cursor: initial;
  color: #fffb;
}

button.sm {
  font-size: 13px;
  height: var(--button-sm-size);
}

button.regular {
  background-color: var(--regular-500);
}

button.regular:hover {
  background-color: var(--regular-400);
}

button.regular:active {
  background-color: var(--regular-300);
}

button.regular:disabled {
  background-color: #8d8383;
}

button.primary {
  background-color: var(--primary-500);
}

button.primary:hover {
  background-color: var(--primary-400);
}

button.primary:active {
  background-color: var(--primary-300);
}

button.primary:disabled {
  background-color: #74adda;
}

button.error {
  background-color: #c43131;
}

button.error:hover {
  background-color: #d55151;
}

button.error:active {
  background-color: #e78282;
}

button.error:disabled {
  background-color: #c77a7a;
}

button.icon-button {
  padding: 0;
}

button.icon-button.sm {
  width: var(--button-sm-size);
  height: var(--button-sm-size);

  > .icon {
    font-size: var(--icon-sm-size);
  }
}

button.icon-button.md {
  width: var(--button-md-size);
  height: var(--button-md-size);

  > .icon {
    font-size: var(--icon-md-size);
  }
}

button.icon-button.lg {
  width: var(--button-lg-size);
  height: var(--button-lg-size);

  > .icon {
    font-size: var(--icon-lg-size);
  }
}

.icon.xs {
  font-size: var(--icon-xs-size);
}

.icon.sm {
  font-size: var(--icon-sm-size);
}

.icon.md {
  font-size: var(--icon-md-size);
}

.icon.lg {
  font-size: var(--icon-lg-size);
}

.icon.xl {
  font-size: var(--icon-xl-size);
}

.icon.regular {
  color: inherit;
}

.icon.primary {
  color: #538fc1;
}

.icon.secondary {
  color: #888;
}

.icon.success {
  color: limegreen;
}

.icon.info {
  color: deepskyblue;
}

.icon.warning {
  color: gold;
}

.icon.error {
  color: red;
}